
.card {
    background-image: url('https://res.cloudinary.com/dcmbyy4e7/image/upload/v1697273375/congo-estate/uhq0lectnullzfp5fxda.jpg');
    height: 420px;
    width: 100%;
    background-size: cover;
    
}